.page-selector {
  position: fixed;
  display: flex;
  z-index: 3;

  height: 25px;
  bottom: 0;
  right: 0;

  &__button--selected {
    z-index: 1;
    background-color: rgb(48, 92, 235);
    transform: translate3d(0%, 0%, 0) scale(1.05, 1.05);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  }

  input[type='button'] {
    width: 25px;
    height: 25px;

    color: white;
    font-weight: lighter;

    background-color: rgb(44, 84, 216);
    background-position: center;
    background-size: 40% 40%;
    background-repeat: no-repeat;

    border: none;

    transition: transform 0.2s, background-color 0.5s;
    -webkit-font-smoothing: subpixel-antialiased;

    &:hover {
      z-index: 2;
      cursor: pointer;
      transform: translate3d(0%, 0%, 0) scale(1.15, 1.15);
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    }

    &:active {
      background-color: rgb(48, 92, 235);
      transform: translate3d(0%, 0%, 0) scale(1.05, 1.05);
    }
  }
}
