/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;

  width: 100vw;
  height: 100vh;

  background-color: rgb(32, 30, 30);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  user-select: none;
  box-sizing: border-box;

  cursor: default;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
